# local package
-e .

# external requirements
click
Sphinx
coverage
#awscli
flake8
#python-dotenv>=0.5.1
python-dotenv
## Sacred is a tool to help you configure, organize, log and reproduce experiments developed at IDSIA.
#sacred

numpy
scikit-learn
pandas
scipy==1.10.0

# text preprocessing 
##install french model : python -m spacy download fr_core_news_md
spacy
spacy-lefff
treetaggerwrapper

# remove accent from str
unidecode